<form action="/posts" method="post">
    <input required type="text" id="title" name="title" placeholder="your title..." />
    <br />
    <textarea required name="description" id="description" cols="60" rows="10" placeholder="Your description..."></textarea>
    <br />
    <input type="number" id="number" name="number" placeholder="Your number..." />
    <br />
    <button>Add Data</button>
</form>